@page "/"

<h1 Style="padding-top: 5rem">Challenge!</h1>

<h2> Energiecheck: Wie steht deine Gemeinde da? </h2>
<br>
<br>
<h3>Um was geht es?</h3>
<p>Energie, Energie und nochmal Energie. Diesem Thema kann man kaum aus dem Weg gehen, sei es aufgrund der Klimafrage oder der Szenarien einer Energiekrise. Doch wie sieht es eigentlich bei euch vor der Haustür aus? Welche Gemeinde könnte unter einer drohenden Energieknappheit besonders leiden? Wo wird am meisten Energie verbraucht und wer ist in puncto erneuerbare Energien ganz vorne? Diese und andere Fragen sollen in unserer Challenge beantwortet werden.</p>

<h3>Die Challenge</h3>
<p>Die Thurgauer Gemeinden liefern regelmässig Daten zur Energieerzeugung und zum Verbrauch. Doch ist es für den Laien relativ schwierig, irgendwelche Schlüsse aus staubtrockenen Tabellen zu ziehen. In dieser Challenge soll es deshalb darum gehen, die vorliegenden Daten originell zu visualisieren. Ziel soll es sein, dass jede/r Bürger/in in der Lage ist, zu erkennen, wo die eigene Gemeinde im Thurgauer Vergleich steht. Dabei sollen verschiedene Faktoren aus dem Bereich Energie miteinbezogen werden, ergänzt um weitere Indikatoren zur Gemeinde. Bei der Visualisierung und auch dabei, wie breit ihr das Energiethema fassen möchtet, könnt ihr eurer Kreativität freien Lauf lassen.</p>