<div class="w-100 vh-100 mh-100 d-flex justify-content-center ">
	<div class="d-flex justify-content-center align-items-center flex-column p-2 text-center">
		<h1>Seite nicht gefunden</h1>
		<h4>Entweder hat die eigengebe URL einen Tippfehler oder die Seite wurde verschoben.</h4>
		<a href="/" class="btn btn-lg btn-outline-dark mt-4">Startseite</a>
	</div>
</div>